#gameover {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#gameover h2,
#gameover p {
  margin-bottom: 1rem;
}

#gameover p {
  color: #1a60ca;
  font-size: 1.5rem;
}

#gameover img {
  margin: 2rem;
  height: 150px;
}
