* {
  padding: 0;
  margin: 0;
  font-family: 'raleway', sans-serif;
  color: #fff;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #1c1c1c;
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(
    90deg,
    #1a60ca 0%,
    #3570de 100%
  );
  border-radius: 3rem;
  border: none;
}

button:hover {
  background: linear-gradient(
    90deg,
    #1a60ca 0%,
    #3570de 100%
  );
}
