.option {
  background-color: #1a60ca;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}

.option:hover {
  opacity: 1;
}

#options-container .option p {
  margin-bottom: 0;
}
