/* GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #00c9c8;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  position: relative;
  height: 100vh;
}

header,
main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
footer {
  width: 100%;
  height: 100px;
  padding: 30px 0;
  background-color: #3a74c4;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  margin-top: 20px;
  margin-bottom: 140px;
}

footer {
  grid-area: footer;
  position: absolute;
  bottom: 0;
}

.hide {
  display: none !important;
}

/* SCORE CONTAINER */
#quizz-container,
#score-container {
  color: #3a74c4;
  text-align: center;
  padding: 25px;
  border: 1px solid #e0e0e0;
  box-shadow: 7px 10px 0px rgba(0, 0, 0, 0.1);
}

#quizz-container,
#score-container {
  width: 500px;
  max-width: 90%;
}

#score-container p {
  margin: 20px 0;
}

#score-container #display-score {
  font-size: 32px;
  font-weight: bold;
}

#correct-answers {
  font-weight: bold;
  color: #2eb94c;
}

#questions-qty {
  font-weight: bold;
  color: #00c9c8;
}

#restart {
  background-color: #00c9c8;
  color: #fff;
  font-weight: bold;
  height: 50px;
  border: 1px solid #e0e0e0;
  width: 180px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#restart:hover {
  background-color: #3a74c4;
  color: #ffffff;
}

/* Quizz container */
#question {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
  color: #3a74c4;
  font-weight: bold;
}

#answers-box button {
  display: flex;
  align-items: stretch;
  margin: 15px 0;
  width: 100%;
  border: none;
  text-align: left;
  color: #3a74c4;
  cursor: pointer;
  transition: 0.5s;
}

#answers-box button:hover {
  background-color: #3a74c4;
  color: #fff;
}

#answers-box .btn-letter {
  font-size: 30px;
  font-weight: bold;
  background-color: #3a74c4;
  border: none;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  padding: 5px;
  max-width: 45px;
}

.question-answer {
  flex: 1 1 0;
  display: flex;
  padding: 10px 0;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
}

#quizz-container .wrong-answer,
#quizz-container .wrong-answer .btn-letter {
  background-color: #e62210;
  color: #fff;
  border: none;
}

#quizz-container .correct-answer,
#quizz-container .correct-answer .btn-letter {
  background-color: #2eb94c;
  color: #fff;
  border: none;
}

/* Navigation */
.nav {
  height: 50px;
  width: 100%;
  background-color: #3a74c4;
  position: relative;
}

.nav > .nav-header {
  display: inline-block;
  height: 50px;
  cursor: pointer;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 10px;
}

.nav > .nav-header > .nav-title > .avatar {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.nav > .nav-header > .nav-title > .user {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 22px;
  color: #fff;
}

.nav-header:hover {
  background-color: rgba(0, 0, 0, 0.3);
  height: 54px;
}

.nav-header .dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  min-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 50px;
  left: 0;
  cursor: pointer;
}

.nav-header .dropdown-content {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-header .dropdown-content:hover {
  background-color: #474747;
}

.nav-header.active .dropdown {
  display: block;
}

.nav-header .dropdown-content .player-stats-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 8px 0;
  color: white;
  font-size: 14px;
}

.nav-header .dropdown-content .player-stats-list li {
  margin-bottom: 4px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  height: 50px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px;
  text-decoration: none;
  color: #efefef;
  height: 50px;
}

.nav > .nav-links > a > span {
  display: none;
  position: absolute;
  padding-left: 10px;
  padding-top: 1px;
}

.nav > .nav-links > a > img {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  height: 54px;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 850px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 1000;
  }

  .nav > .nav-links > a {
    display: inline-block;
    width: 100%;
  }

  .nav > .nav-links > a > span {
    display: inline-block;
  }

  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    height: 50px;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* RESPONSIVO */
@media (max-width: 520px) {
  #quizz-container,
  #score-container {
    border: none;
    width: 100%;
    box-shadow: none;
  }
}
